/* Estilização do fundo da página */
body {
  font-size: 15px;
  background-size: cover;
  background-image: url(fundo);
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

/* Estilização do conteúdo do editor */
#editorContent {
  width: 95%;
  height: 250px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  outline: none;
  box-shadow: none;
  caret-color: #ffd64d;
  background-color: black;
  flex-grow: 1;
  border: none;
  padding: 5px;
}

/* Estilização do botão de limpar */
.limpar {
  margin-right: 5px;
  font-size: 11px;
  left: 0;
  top: -10;
  float: right;
  padding: 0.5em 1em;
  border: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

/* Estilização do botão de salvar */
#save-btn {
  margin-right: 5px;
  font-size: 11px;
  left: 0;
  top: -10;
  float: right;
  padding: 0.5em 1em;
  border: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

/* Estilização do rótulo do arquivo */
#file-label {
  font-size: 11px;
  top: -10;
  padding: 0.5em 1em;
  border: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

/* Estilização do input de arquivo */
#file-input {
  display: none;
}

/* Estilização da mensagem de boas vindas */
.boas_vindas {
  font-family: 'Courier New', Courier, monospace;
}

/* Estilização do terminal */
.terminal {
  width: 340px;
  background-color: #666;
  border-radius: 5px;
  overflow: hidden;
}

/* Estilização do cabeçalho do terminal */
.terminal-header {
  background-color: #333;
  height: 30px;
  display: flex;
  padding: 5px;
}

/* Estilização dos pontos do cabeçalho do terminal */
.red-dot, .yellow-dot, .green-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 3px;
}

/* Estilização do ponto vermelho */
.red-dot {
  background-color: #ff605c;
}

/* Estilização do ponto amarelo */
.yellow-dot {
  background-color: #ffd64d;
}

/* Estilização do ponto verde */
.green-dot {
  background-color: #63be7b;
}

/* Estilização do corpo do terminal */
.terminal-body {
  padding: 10px;
  font-size: 14px;
}

/* Estilização dos parágrafos do corpo do terminal */
.terminal-body p {
  margin-bottom: 10px;
}

/* Estilização da barra de rolagem do textarea */
textarea::-webkit-scrollbar {
  width: 2px;
}

/* Estilização do polegar da barra de rolagem do textarea */
textarea::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px; 
}

/* Estilização da faixa de rolagem da barra do textarea */
textarea::-webkit-scrollbar-track {
  background-color: black;
}

.file-input {
  display: none;
}

#file-label {
  margin-right: 5px;
  font-size: 11px;
  float: left;
  top: -10;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  }
}
